<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<style>
.bg-1 { background-color: #0F0F3A; /* Green */color: #ffffff;}
.bg-2 { background-color: #494968; /* Dark Blue */color: #ffffff;}
.bg-3 { background-color: #ffffff; color: #555555;}
.bg-4 { background-color: #2f2f2f;color: #ffffff;}

.container_fluid {padding-top: 70px; padding-bottom: 70px; padding-left: 10px; padding-right: 10px;}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
}
.navbar-nav li a:hover {color: #1abc9c !important;}
body{font: 20px "Montserrat", sans-serif; line-height: 1.8; color: #f5f6f7;}
.margin {margin-bottom: 45px;}
</style>

<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'about' , about_path %></li>
        <li><a href="#">WHO</a></li>
        <li><a href="#">WHAT</a></li>
        <li><a href="#">WHERE</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container_fluid bg-1 text-center">
  <h3>about</h3>
  <img src="/images/Marta.jpg" style="display:inline" alt="Marta" width="300" height="180" class="img-circle">
  <h3 class="margin">Martina</h3>
</div>

<div class="container_fluid bg-2 text-center">
  <h3>What am I?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<div class="container_fluid bg-3 text-center">
  <h3 class="margin">Where to find me?</h3>
  <div class="row">
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <img src="/images/Marta1.jpg" alt="Marta1" width="170" height="300">
    </div>
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <img src="/images/Marta2.jpg" alt="Marta2" width="350" height="200">
    </div>
  </div>
</div>
<footer class="container_fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="http://www.w3schools.com">www.w3schools.com</a></p> 
</footer>
</body>
</html>