
$navbar-default-bg: #666666;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float:left;
  font-size: 1.7em;
  color: #ffffff;
  font-weight: bold;
}

.center {
  text-align:center
}

.jumbotron {
  background-image: image-url('Marta.jpg');
  background-size: cover;
  height: 700px;
}

.jumbotron h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 8px;
}

.description {
  margin-top: 0;
}

.footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float:left;
}

footer ul {
  float: right;
  list-style: none;
}